<!DOCTYPE html>
<html>
<head>
    <title>Todo List Details</title>
</head>
<body>
    <h1>{{ todo_list.name }}</h1>

    <div>
        <h1>{{ todo_list.name }}</h1>
        <a href="{% url 'todos:todo_list_update' todo_list.id %}">
            <p>
                <a href="{% url 'todos:todo_list_update' todo_list.id %}">Edit</a>
            </p>
        </a>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                    <th>Completed</th>
                </tr>
            </thead>
            <tbody>
                {% for todo_item in todo_items %}
                    <tr>
                        <td>{{ todo_item.task }}</td>
                        <td>{{ todo_item.due_date }}</td>
                        <td>{{ todo_item.is_completed }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">No to-do items for this list.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{% url 'todos:todo_list_list' %}">Back to Todo Lists</a>
</body>
</html>
