<!DOCTYPE html>
<html>
<head>
    <title>Create Todo List</title>
</head>
<body>
    <h1>Create a new list</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <a href="{% url 'todos:todo_list_list' %}">Back to Todo Lists</a>
    <ul>
        {% for todo_list in todo_lists %}
            <li>
                <a href="{% url 'todos:todo_list_detail' todo_list.id %}">{{ todo_list.name }}</a>
                (<a href="{% url 'todos:todo_list_update' todo_list.id %}">Edit</a>)
            </li>
        {% empty %}
            <li>No todo lists available.</li>
        {% endfor %}
    </ul>

</body>
</html>

