<!DOCTYPE html>
<html>
<head>
    <title>Update</title>
</head>
<body>
    <main>
        <div>
            <a href="{% url 'todos:todo_list_update' todo_list.id %}">Edit this to-do list</a>
            <h1>Update list</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update</button>
            </form>
            {% comment %} <ul>
                {% for todo_list in todo_lists %}
                    <li>
                        <a href="{% url 'todos:todo_list_detail' todo_list.id %}">{{ todo_list.name }}</a>
                        (<a href="{% url 'todos:todo_list_update' todo_list.id %}">Edit</a>)
                    </li>
                {% empty %}
                    <li>No todo lists available.</li>
                {% endfor %}
            </ul> {% endcomment %}
        </div>
    </main>

</body>
</html>
