<!DOCTYPE html>
<html>
<head>
    <title>Todo Lists</title>
</head>
<body>
    <!-- Fundamental Five -->
    <header>
        <nav>
            <ul> 
                {% for todo_list in todo_lists %}
                    <li>
                        <a href="{% url 'todos:todo_list_detail' todo_list.id %}">{{ todo_list.name }}</a>
                        ({{ todo_list.items.count }} items)
                    </li>
                {% empty %}
                    <li>No todo lists available.</li>
                {% endfor %}
            </ul>
            <ul>
                <li><a href="{% url 'todos:todo_list_create' %}">Create a List</a></li>
                {% for todo_list in todo_lists %}
                    <!-- Existing code to list to-do lists -->
                {% empty %}
                    <li>No todo lists available.</li>
                {% endfor %}
            </ul>
            {% comment %} <ul>
                {% for todo_list in todo_lists %}
                    <li>
                        <a href="{% url 'todos:todo_list_detail' todo_list.id %}">{{ todo_list.name }}</a>
                        (<a href="{% url 'todos:todo_list_update' todo_list.id %}">Edit</a>)
                    </li>
                {% empty %}
                    <li>No todo lists available.</li>
                {% endfor %}
            </ul> {% endcomment %}

        </nav>
    </header>

    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_list in todo_lists %}
                        <tr>
                            <td>{{ todo_list.name }}</td>
                            <td>0</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="2">No todo lists available.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
