<!DOCTYPE html>
<html>
<head>
    <title>Create Todo List</title>
</head>
<body>
    <main>
        <h1>Create a New Todo List</h1>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
        </form>
        <a href="{% url 'todos:todo_list_list' %}">Back to Todo Lists</a>
    </main>

</body>
</html>
